.container {
  position: relative;
  padding-bottom: 80px;
  padding-top: 120px;
  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: 20px;
    padding-top: 0px;
  }
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  letter-spacing: -1px;
  color: #c1c2c5;
  margin-bottom: var(--mantine-spacing-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
    text-align: left;
  }
}

.description {
  text-align: center;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: var(--mantine-font-size-md);
    text-align: left;
  }
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
    width: 100%;
  }

  :nth-child(2) {
    margin-left: var(--mantine-spacing-md);
    background-color: #3b5bdb;
    margin-left: 0px;
  }
}

.button {
  @media (max-width: $mantine-breakpoint-sm) {
    height: 42px;
    font-size: var(--mantine-font-size-md);
    width: 100%;
    margin-bottom: 10px;
  }
}
