.title {
  padding-top: 80px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  letter-spacing: -1px;
  color: mantine-var(--mantine-color-dark-0);
  margin-bottom: var(--mantine-spacing-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
    text-align: left;
  }
}
